<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Busca CEP</title>
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" 
        rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <h1>Busca CEP</h1>
        <%- yield %>
    </div>    

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="vendor/handlebars/handlebars.min.js"></script> 
    
</body>
</html>










